:root {
  --color: #164ee2;
}

.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

article.card :hover .title{
    color: var(--color);
}

h2{
    cursor: pointer;

}

.card-body {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.image {
  border-radius: 1rem;
}

.category {
  right: 10px;
  top: 0px;
  background-color: var(--color);
  color: white;
  position: absolute;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

@media (min-width: 768px) {
    
  main.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .card{
      flex:0 1 calc(50% - 1rem);
  }

}


@media (min-width: 992px) {
  main.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .card{
      flex:0 1 calc(33.3% - 1rem);
  }

}


